@charset "UTF-8";
[class*=btn-] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 154px;
  border-radius: 6px;
  border: 1px solid var(--color-black);
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  font-size: 16px;
  transition: all 0.3s ease;
}
[class*=btn-]:hover {
  background-color: var(--color-pink);
  border-color: var(--color-pink);
}
[class*=btn-] .icon {
  margin-right: 6px;
}

.btn-signature {
  border-color: var(--color-signature);
  background-color: var(--color-signature);
}

.link-line {
  color: var(--color-333);
  font-weight: bold;
}
.link-line em {
  font-size: 20px;
  color: var(--color-pink);
}
.link-line:hover {
  background: linear-gradient(transparent 60%, var(--color-signature) 40%);
}

.chip {
  display: inline-block;
  vertical-align: middle;
  padding: 2px 12px;
  border-radius: 16px;
  background-color: var(--color-pink);
  color: var(--color-white);
  font-size: 14px;
}
.chip.mint {
  background-color: var(--color-mint);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 4px;
}
.tags li {
  padding: 4px 12px;
  border-radius: 20px;
  background-color: var(--color-signature);
  color: var(--color-333);
  font-size: 14px;
}

h1 {
  font-weight: 400;
  font-size: 18px;
}
h1 .symbol {
  font-size: 24px;
  color: inherit;
}

h2 {
  line-height: 1.6;
  letter-spacing: -0.02em;
}
h2 strong {
  display: block;
  font-size: 40px;
}

h3 {
  padding-bottom: 8px;
  font-size: 40px;
  line-height: 1.6;
}
h3 + p {
  font-size: 20px;
  color: var(--color-dark-gray);
}

h4 {
  font-size: 26px;
  line-height: 1.6;
}

.text-point {
  font-weight: 600;
  color: var(--color-black);
  background: linear-gradient(transparent 60%, var(--color-signature) 40%);
  padding: 0 2px;
}

.wrap {
  min-height: 100vh;
}

.inner {
  position: relative;
  max-width: 1624px;
  margin: auto;
  padding: 0 20px;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
}
header .logo a {
  color: var(--color-pink);
}
header .logo .name {
  font-weight: 900;
  font-size: 40px;
}
header .header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
}
header .header.fixed {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 80px;
}
header .nav-box nav {
  display: flex;
  gap: 4px;
}
header .nav-box .nav {
  flex-shrink: 0;
}
header .nav-box a {
  position: relative;
  display: inline-block;
  padding: 2px 15px;
  font-weight: 500;
  font-size: 20px;
}
header .nav-box a:not(:first-child) {
  margin-left: 14px;
}
header .nav-box a::before {
  content: "";
  position: absolute;
  left: 8px;
  bottom: -10px;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  transition: all 0.3s;
}
header .nav-box a.active {
  color: var(--color-pink);
}
header .nav-box a.active::before {
  width: calc(100% - 16px);
  background-color: var(--color-pink);
}
header .nav-box a:hover {
  border-radius: 8px;
  color: var(--color-pink);
}
header .mobile-menu-btn {
  display: none;
}

footer {
  padding: 120px 0 20px;
  text-align: center;
}

.content {
  padding: 120px 0 80px;
}

.main-page section:not(.hero) {
  padding: 150px 0 200px;
}
.main-page section .section-top {
  margin-bottom: 100px;
  text-align: center;
}
.main-page .box {
  flex: 1;
  padding: 40px;
  border-radius: var(--border-radius);
}
.main-page .box.img-wrap {
  display: block;
  position: relative;
  padding: 0;
  height: 280px;
  border: 1px solid var(--color-gray);
  background-color: var(--color-gray);
  overflow: hidden;
}
.main-page .box.img-wrap img {
  min-height: 100%;
  width: 100%;
}
.main-page .box.img-wrap:is(a)::after {
  content: "move";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: transparent;
  opacity: 0;
  transition: all 0.3s;
}
.main-page .box.img-wrap:is(a):hover::after {
  background-color: var(--color-black);
  color: var(--color-white);
  opacity: 0.7;
}
.main-page .box.text-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;
}
.main-page .box .box-text {
  margin-bottom: 10px;
}
.main-page .boxs {
  display: flex;
  gap: 20px;
  position: relative;
}
.main-page .text-box {
  max-width: 800px;
  word-break: keep-all;
  text-align: left;
  margin: 0 auto;
}
.main-page .text-box:not(:last-child) {
  margin-bottom: 20px;
}
.main-page .title-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 12px;
       column-gap: 12px;
  padding: 20px 0;
}
.main-page ul.dash li {
  position: relative;
  padding-left: 15px;
}
.main-page ul.dash li::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 6px;
  height: 1px;
  background-color: var(--color-333);
}
.main-page .hero {
  padding-bottom: 80px;
  margin-bottom: 60px;
}
.main-page .hero .boxs::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -80px;
  width: 300px;
  height: 220px;
  background-color: var(--color-white);
  z-index: 1;
}
.main-page .hero .title-sub {
  position: relative;
  font-size: 20px;
  word-break: keep-all;
  z-index: 3;
}
.main-page .hero .box {
  position: relative;
}
.main-page .hero .box::after, .main-page .hero .box::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 150px;
  z-index: 2;
}
.main-page .hero .box.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--color-light-gray);
}
.main-page .hero .box.left::after, .main-page .hero .box.left::before {
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--color-light-gray);
}
.main-page .hero .box.left::before {
  right: 0;
  bottom: 100px;
}
.main-page .hero .box.left::after {
  right: 68px;
  bottom: 0;
}
.main-page .hero .box.right {
  padding: 0 40px;
  background-color: var(--color-dark-gray);
}
.main-page .hero .box.right::after, .main-page .hero .box.right::before {
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--color-dark-gray);
}
.main-page .hero .box.right::before {
  left: 0;
  bottom: 100px;
}
.main-page .hero .box.right::after {
  left: 70px;
  bottom: 0;
}
.main-page .hero .box.right .rolling-list {
  position: relative;
  height: 480px;
  padding: 100px 0 0 70px;
  overflow: hidden;
  z-index: 3;
}
.main-page .hero .box.right .rolling-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 80px;
  padding: 12px;
  margin-top: 8px;
  border-radius: 12px;
  background-color: var(--color-white);
  opacity: 0;
  transition: transform 0.85s ease, opacity 1.5s ease, filter 1.5s ease;
  line-height: 1.4;
}
.main-page .hero .box.right .rolling-list li.active {
  opacity: 1;
}
.main-page .hero .box.right .rolling-list li.out {
  -webkit-animation-name: roll-out;
          animation-name: roll-out;
}
.main-page .hero .box.right .rolling-list li.in {
  -webkit-animation-name: roll-in;
          animation-name: roll-in;
}
.main-page .hero .box.right .rolling-list li .img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 105, 105, 0.3137254902);
  overflow: hidden;
}
.main-page .hero .box.right .rolling-list li .img span {
  font-size: 30px;
}
.main-page .hero .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  z-index: 6;
}
.main-page .hero .circle-wrap {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  z-index: 4;
}
.main-page .hero .circle-wrap::after, .main-page .hero .circle-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  width: 38px;
  height: 38px;
  z-index: 2;
}
.main-page .hero .circle-wrap::after {
  left: 0;
  background-color: var(--color-light-gray);
}
.main-page .hero .circle-wrap::before {
  right: 0;
  background-color: var(--color-dark-gray);
}
.main-page .hero .circle svg {
  width: 140px;
  height: 140px;
}
.main-page .hero .circle .arrow {
  font-size: 4rem;
  text-anchor: middle;
  dominant-baseline: middle;
}
.main-page .hero .circle text {
  font-size: 26px;
}
.main-page .hero .circle .rotating-text {
  -webkit-animation: rotateCircle 10s linear infinite;
          animation: rotateCircle 10s linear infinite;
  transform-origin: 150px 150px; /* SVG 중앙 기준으로 회전 */
}
@-webkit-keyframes roll-in {
  from {
    filter: blur(10px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in {
  from {
    filter: blur(10px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-out {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(10px);
    opacity: 0;
  }
}
@keyframes roll-out {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(10px);
    opacity: 0;
  }
}
@-webkit-keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-page .section-skills {
  background-color: var(--color-light-gray);
}
.main-page .section-skills .box:first-child {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}
.main-page .section-skills .box:nth-child(2) {
  background-color: var(--color-gray);
  color: var(--color-white);
}
.main-page .section-skills .box:nth-child(3) {
  background-color: var(--color-white);
}
.main-page .section-skills .box p {
  margin: 20px 0;
}
.main-page .section-work .total {
  font-weight: 500;
}
.main-page .section-work .work-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-top: 90px;
}
.main-page .section-work .work-list .work-company {
  max-width: 810px;
}
.main-page .section-work .work-list .work-company .date {
  font-size: 20px;
  font-weight: 500;
}
.main-page .section-work .work-list .work-company .company {
  display: block;
  font-size: 26px;
  margin-bottom: 40px;
}
.main-page .section-work .project-list {
  margin-top: 40px;
  text-align: left;
}
.main-page .section-work .project-list > li {
  position: relative;
  padding-left: 12px;
}
.main-page .section-work .project-list > li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 6px;
  height: 1px;
  background-color: var(--color-333);
}
.main-page .section-work .work-box {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 0;
  border-radius: var(--border-radius);
  background-color: var(--color-light-gray);
  overflow: hidden;
}
.main-page .section-work .scroll {
  width: 100%;
  max-height: 660px;
  padding: 40px 20px 40px 40px;
}
.main-page .section-work .scroll::-webkit-scrollbar-thumb {
  border: 6px solid var(--color-light-gray);
}
.main-page .section-work .boxs:not(:first-child) {
  margin-top: 100px;
}
.main-page .section-work .boxs:nth-child(odd) .box.img-wrap {
  background: #92ddff url(../images/icon/icon-notifications.png) no-repeat center/200px auto;
}
.main-page .section-work .boxs:nth-child(even) .box.img-wrap {
  background: #fff7b0 url(../images/icon/icon-social-media.png) no-repeat center/200px auto;
}
.main-page .section-work .button-wrap {
  display: flex;
  justify-content: center;
  margin: 80px auto 0;
}
.main-page .section-certificate ul {
  margin: auto;
  width: 500px;
}
.main-page .section-certificate ul > li {
  text-align: left;
}
.main-page .section-certificate ul > li:not(:first-child) {
  margin-top: 30px;
}
.main-page .section-about p {
  text-align: center;
}

.scroll, .sub-page .box {
  overflow: hidden auto;
}
.scroll::-webkit-scrollbar, .sub-page .box::-webkit-scrollbar {
  width: 16px;
}
.scroll::-webkit-scrollbar-track, .sub-page .box::-webkit-scrollbar-track {
  display: none;
}
.scroll::-webkit-scrollbar-thumb, .sub-page .box::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-gray);
  border: 6px solid var(--color-white);
  border-radius: 10px;
}
.scroll::-webkit-scrollbar-button:vertical:start:decrement, .scroll::-webkit-scrollbar-button:vertical:end:decrement, .sub-page .box::-webkit-scrollbar-button:vertical:start:decrement, .sub-page .box::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 15px;
}

.sub-page h3 {
  flex-basis: 100%;
  padding: 100px 0 0;
}
.sub-page .boxs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.sub-page .box {
  height: 523px;
  border: 1px solid #a0a0a0;
  border-radius: var(--border-radius);
  background-color: var(-color-background);
}
.sub-page .box.pc {
  flex: 1 1 49%;
}
.sub-page .box.mo {
  flex: 1 1 auto;
}
.sub-page .box.mo img {
  width: 300px;
}
.sub-page .box img {
  width: 100%;
  min-height: 398px;
  margin: auto;
}
.sub-page .box::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-color: var(--color-background);
}
.sub-page .text {
  margin-top: 100px;
}
.sub-page .text + .text {
  margin-top: 50px;
}
.sub-page .text strong {
  display: block;
}

.mo-show {
  display: none !important;
}

@media (max-width: 1024px) {
  .pc-show {
    display: none !important;
  }
  .mo-show {
    display: flex !important;
  }
  [class*=btn-] {
    height: 4rem;
  }
  h2 {
    margin-bottom: 4rem;
    max-width: 50%;
    font-size: 1.8rem;
  }
  h2 strong {
    margin-top: 3rem;
    font-size: 2.2rem;
    line-height: 1.4;
  }
  h3 {
    font-size: 2.8rem;
  }
  h3 + p {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 2.2rem;
  }
  .link-line {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.6rem;
    background: linear-gradient(transparent 60%, var(--color-signature) 40%);
  }
  .inner {
    padding: 0 2rem;
  }
  .content {
    padding: 8rem 0;
  }
  header .header-content {
    min-height: 7rem;
    margin-right: 0;
  }
  header .logo .name {
    font-size: 3rem;
  }
  header .nav-box {
    display: none;
    position: absolute;
    top: 6.9rem;
    right: -2rem;
    width: 26rem;
    padding: 2rem 2rem 10rem 2rem;
    transform: unset;
    background-color: var(--color-white);
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  header .nav-box.active {
    display: block;
  }
  header .nav-box a {
    padding: 0;
  }
  header .nav-box a.active::before {
    width: 100%;
    left: 0;
    bottom: -8px;
  }
  header .nav-box nav {
    flex-direction: column;
    gap: 3rem;
  }
  header .nav-box nav a {
    font-size: 1.8rem;
  }
  header .nav-box .btn-move {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: calc(100% - 4rem);
    margin: 0 !important;
    font-size: 1.6rem;
  }
  header .mobile-menu-btn {
    display: block;
  }
  header .mobile-menu-btn div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 5rem;
    height: 5rem;
    border-radius: 8px;
    border: 1px solid var(--color-pink);
  }
  header .mobile-menu-btn div::after, header .mobile-menu-btn div::before {
    content: "";
    display: block;
    position: relative;
  }
  header .mobile-menu-btn div::after, header .mobile-menu-btn div::before, header .mobile-menu-btn div span {
    width: 2.6rem;
    height: 2px;
    border-radius: 1rem;
    background-color: var(--color-pink);
    transition: all 0.3s;
  }
  header .mobile-menu-btn div span {
    width: 2rem;
  }
  header .mobile-menu-btn.active div span {
    display: none;
  }
  header .mobile-menu-btn.active div::after, header .mobile-menu-btn.active div::before {
    width: 3rem;
  }
  header .mobile-menu-btn.active div::after {
    transform: rotate(45deg);
    top: -3px;
  }
  header .mobile-menu-btn.active div::before {
    transform: rotate(315deg);
    top: 5px;
  }
  .main-page section:not(.hero) {
    padding: 5rem 0 6rem;
  }
  .main-page section .section-top {
    margin-bottom: 4rem;
  }
  .main-page .boxs {
    flex-direction: column;
  }
  .main-page .box {
    padding: 2rem;
  }
  .main-page .box.img-wrap {
    flex: 0 0 auto;
    height: 16rem;
    background-size: 8rem auto !important;
  }
  .main-page .box.img-wrap img {
    height: 100%;
    min-height: auto;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .main-page ul.dash li::before {
    top: 1rem;
  }
  .main-page .hero {
    margin: 0;
  }
  .main-page .hero .boxs::before,
.main-page .hero .box.right::after, .main-page .hero .box.right::before {
    display: none;
  }
  .main-page .hero .title-sub {
    font-size: 1.8rem;
  }
  .main-page .hero .boxs {
    flex-direction: column-reverse;
  }
  .main-page .hero .box {
    min-height: auto;
    padding: 2.6rem;
  }
  .main-page .hero .box.right {
    padding: 3rem 2.6rem;
  }
  .main-page .hero .box.right .rolling-list {
    height: 27rem;
    width: 100%;
    padding: 0;
  }
  .main-page .hero .box.left::before, .main-page .hero .box.left::after {
    border-radius: 0 var(--border-radius) 0 0;
    width: 3rem;
    height: 3rem;
    z-index: 6;
  }
  .main-page .hero .box.left::before {
    bottom: auto;
    top: 0%;
    right: 16rem;
  }
  .main-page .hero .box.left::after {
    bottom: auto;
    top: 15rem;
    right: 0;
  }
  .main-page .hero .circle-wrap {
    left: auto;
    right: 0;
    bottom: auto;
    top: 34rem;
    transform: none;
  }
  .main-page .hero .circle-wrap::after, .main-page .hero .circle-wrap::before {
    height: 5rem;
    background-color: var(--color-white);
  }
  .main-page .hero .circle-wrap::before {
    width: 5rem;
    right: 14rem;
    top: -1rem;
  }
  .main-page .hero .circle-wrap::after {
    width: 3rem;
    right: 0;
    left: auto;
    top: 14rem;
  }
  .main-page .section-work .work-list {
    margin-top: 5rem;
    gap: 6rem;
  }
  .main-page .section-work .work-list .work-company .company {
    margin-bottom: 2rem;
    font-size: 2.2rem;
  }
  .main-page .section-work .work-list .work-company .date {
    font-size: 1.6rem;
  }
  .main-page .section-work .work-box {
    padding: 0 0 0 1.6rem;
  }
  .main-page .section-work .boxs {
    gap: 0;
    padding-top: 5rem;
  }
  .main-page .section-work .boxs:not(:first-child) {
    margin-top: 5rem;
  }
  .main-page .section-work .boxs:nth-child(even) {
    flex-direction: column-reverse;
  }
  .main-page .section-work .boxs .chip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-page .section-work .scroll {
    max-height: 60rem;
    padding: 2rem 1.6rem 4rem 0;
  }
  .main-page .section-work .button-wrap {
    margin-top: 2rem;
  }
  .main-page .section-career, .main-page .section-certificate, .main-page .section-about {
    margin: 0 2rem;
  }
  .main-page .section-certificate ul {
    width: 100%;
  }
  .main-page .section-about .blog {
    font-size: inherit;
  }
  .main-page .section-about .email {
    text-decoration: none !important;
    color: inherit !important;
    pointer-events: none;
  }
  .sub-page {
    margin-top: 3rem;
  }
  .sub-page h2 {
    font-size: 2.4rem;
  }
  .sub-page h3 {
    padding-top: 4rem;
  }
  .sub-page .text {
    margin-top: 4rem;
  }
  .sub-page .box {
    flex-basis: 100% !important;
    height: 26rem;
  }
}