@charset "UTF-8";
[class*=btn-] {
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid var(--color-black);
  font-weight: 500;
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
}
[class*=btn-]:hover {
  color: var(--color-signature);
}
[class*=btn-] .btn-signature {
  border-color: var(--color-signature);
  background-color: var(--color-signature);
}

.chip {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 12px;
  border-radius: 8px;
  background-color: var(--color-pink);
  color: var(--color-white);
  font-size: 14px;
}
.chip.mint {
  background-color: var(--color-mint);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 4px;
  margin-top: 20px;
}
.tags li {
  padding: 4px 12px;
  border-radius: 20px;
  background-color: var(--color-signature);
  color: var(--color-333);
}

h1 {
  font-weight: 400;
  font-size: 18px;
}
h1 .symbol {
  font-size: 24px;
  color: inherit;
}

h2 {
  margin-bottom: 28px;
  font-size: 30px;
}
h2 strong {
  display: block;
  font-size: 40px;
}

h3 {
  padding: 40px 0;
  font-size: 24px;
  line-height: 1.6;
}

h4 {
  font-size: 20px;
  line-height: 1.6;
}

.wrap {
  min-height: 100vh;
  background-color: var(--color-background);
}

.inner {
  position: relative;
  max-width: 1540px;
  margin: auto;
  padding: 0 20px;
}

header {
  position: relative;
  top: 0;
  min-height: 80px;
  width: 100%;
  z-index: 100;
}
header .logo:hover h1, header .logo.active h1 {
  color: var(--color-pink);
}
header .header-fixed {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1500px;
  min-height: 80px;
  background-color: rgba(244, 244, 244, 0.8);
}
header nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
}
header nav .nav {
  flex-shrink: 0;
}
header nav a {
  position: relative;
  display: inline-block;
  padding: 2px 15px;
  font-size: 18px;
  font-weight: 500;
}
header nav a:not(:first-child) {
  margin-left: 14px;
}
header nav a::before {
  content: "";
  position: absolute;
  left: 8px;
  bottom: -2px;
  width: 0;
  height: 3px;
  border-radius: 10px;
  background-color: transparent;
  transition: all 0.3s;
}
header nav a.active::before {
  width: calc(100% - 16px);
  background-color: var(--color-pink);
}
header nav a:hover {
  border-radius: 10px;
  background-color: rgba(249, 170, 170, 0.2705882353);
}
header .btn-move {
  position: absolute;
  right: 20px;
  top: 16px;
}
header .mobile-menu-btn {
  display: none;
}

.content {
  padding-bottom: 80px;
}

.main-page section:not(:first-child) {
  margin-top: 120px;
}
.main-page section .section-top {
  text-align: center;
}
.main-page .boxs {
  display: flex;
  gap: 20px;
  position: relative;
  margin-top: 60px;
}
.main-page .boxs:nth-child(odd) .box.img-wrap {
  background: #92ddff url(../images/icon/icon-notifications.png) no-repeat center/200px auto;
}
.main-page .boxs:nth-child(even) .box.img-wrap {
  background: #fff7b0 url(../images/icon/icon-social-media.png) no-repeat center/200px auto;
}
.main-page .box {
  flex: 1;
  padding: 40px;
  border-radius: var(--border-radius);
}
.main-page .box.img-wrap {
  display: block;
  padding: 0;
  height: 280px;
  border: 1px solid #a0a0a0;
  background-color: #a0a0a0;
  overflow: hidden;
}
.main-page .box.img-wrap img {
  min-height: 100%;
  width: 100%;
}
.main-page .box.img-wrap:is(a):hover {
  opacity: 0.5;
}
.main-page .box.text-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;
}
.main-page .box .box-text {
  margin-bottom: 10px;
}
.main-page .text-box {
  max-width: 800px;
  word-break: keep-all;
  text-align: left;
  margin: 0 auto;
}
.main-page .text-box:not(:last-child) {
  margin-bottom: 20px;
}
.main-page .title-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 12px;
       column-gap: 12px;
  padding: 20px 0;
}
.main-page ul.dash li {
  position: relative;
  padding-left: 15px;
}
.main-page ul.dash li::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 6px;
  height: 1px;
  background-color: var(--color-333);
}
.main-page .hero {
  margin-bottom: 80px;
}
.main-page .hero .boxs::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -80px;
  width: 220px;
  height: 200px;
  background-color: var(--color-background);
  z-index: 1;
}
.main-page .hero .title-sub {
  position: relative;
  margin-right: 40px;
  word-break: keep-all;
  z-index: 3;
}
.main-page .hero .boxs {
  margin-top: 0;
}
.main-page .hero .box {
  position: relative;
}
.main-page .hero .box::after, .main-page .hero .box::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 2;
}
.main-page .hero .box.left {
  background-color: var(--color-white);
}
.main-page .hero .box.left::after, .main-page .hero .box.left::before {
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--color-white);
}
.main-page .hero .box.left::before {
  right: 0;
  bottom: 100px;
}
.main-page .hero .box.left::after {
  right: 70px;
  bottom: 0;
}
.main-page .hero .box.right {
  padding: 0 40px;
  background-color: var(--color-signature);
}
.main-page .hero .box.right::after, .main-page .hero .box.right::before {
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--color-signature);
}
.main-page .hero .box.right::before {
  left: 0;
  bottom: 100px;
}
.main-page .hero .box.right::after {
  left: 70px;
  bottom: 0;
}
.main-page .hero .box.right .rolling-list {
  position: relative;
  height: 350px;
  padding: 80px 0 0 70px;
  overflow: hidden;
  z-index: 3;
}
.main-page .hero .box.right .rolling-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 80px;
  padding: 12px;
  margin-top: 8px;
  border-radius: 12px;
  background-color: var(--color-white);
  opacity: 0;
  transition: transform 0.85s ease, opacity 1.5s ease, filter 1.5s ease;
  line-height: 1.4;
}
.main-page .hero .box.right .rolling-list li.active {
  opacity: 1;
}
.main-page .hero .box.right .rolling-list li.out {
  -webkit-animation-name: roll-out;
          animation-name: roll-out;
}
.main-page .hero .box.right .rolling-list li.in {
  -webkit-animation-name: roll-in;
          animation-name: roll-in;
}
.main-page .hero .box.right .rolling-list li .img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-pink);
  overflow: hidden;
}
.main-page .hero .box.right .rolling-list li .img span {
  font-size: 30px;
}
.main-page .hero .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  z-index: 6;
}
.main-page .hero .circle-wrap {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  z-index: 4;
}
.main-page .hero .circle-wrap::after, .main-page .hero .circle-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  z-index: 2;
}
.main-page .hero .circle-wrap::after {
  left: 0;
  background-color: var(--color-white);
}
.main-page .hero .circle-wrap::before {
  right: 0;
  background-color: var(--color-signature);
}
.main-page .hero .circle svg {
  width: 140px;
  height: 140px;
}
.main-page .hero .circle .arrow {
  font-size: 4rem;
  text-anchor: middle;
  dominant-baseline: middle;
}
.main-page .hero .circle text {
  font-size: 26px;
}
.main-page .hero .circle .rotating-text {
  -webkit-animation: rotateCircle 10s linear infinite;
          animation: rotateCircle 10s linear infinite;
  transform-origin: 150px 150px; /* SVG 중앙 기준으로 회전 */
}
@-webkit-keyframes roll-in {
  from {
    filter: blur(10px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in {
  from {
    filter: blur(10px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-out {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(10px);
    opacity: 0;
  }
}
@keyframes roll-out {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(10px);
    opacity: 0;
  }
}
@-webkit-keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-page .section-skills .box {
  background-color: var(--color-white);
}
.main-page .section-work .total {
  display: block;
  margin-bottom: 20px;
}
.main-page .section-work .work-list li:not(:first-child) {
  margin-top: 30px;
}
.main-page .section-work .work-box {
  width: 100%;
  max-width: 1100px;
  margin: 60px auto 0;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}
.main-page .section-work .scroll {
  width: 100%;
  max-height: 660px;
  padding: 40px 20px 40px 40px;
}
.main-page .section-work .boxs:first-child {
  margin-top: 0;
}
.main-page .section-work .button-wrap {
  display: flex;
  justify-content: center;
  margin: 80px auto 0;
}
.main-page .section-certificate ul {
  margin: auto;
  width: 500px;
}
.main-page .section-certificate ul > li {
  text-align: left;
}
.main-page .section-certificate ul > li:not(:first-child) {
  margin-top: 10px;
}

.scroll, .sub-page .box {
  overflow: hidden auto;
}
.scroll::-webkit-scrollbar, .sub-page .box::-webkit-scrollbar {
  width: 16px;
}
.scroll::-webkit-scrollbar-track, .sub-page .box::-webkit-scrollbar-track {
  display: none;
}
.scroll::-webkit-scrollbar-thumb, .sub-page .box::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border: 6px solid var(--color-white);
  border-radius: 10px;
}
.scroll::-webkit-scrollbar-button:vertical:start:decrement, .scroll::-webkit-scrollbar-button:vertical:end:decrement, .sub-page .box::-webkit-scrollbar-button:vertical:start:decrement, .sub-page .box::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 15px;
}

.sub-page h3 {
  flex-basis: 100%;
  padding: 100px 0 0;
}
.sub-page .boxs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.sub-page .box {
  height: 523px;
  border: 1px solid #a0a0a0;
  border-radius: var(--border-radius);
  background-color: var(-color-background);
}
.sub-page .box.pc {
  flex: 1 1 49%;
}
.sub-page .box.mo {
  flex: 1 1 auto;
}
.sub-page .box.mo img {
  width: 300px;
}
.sub-page .box img {
  width: 100%;
  min-height: 398px;
  margin: auto;
}
.sub-page .box::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-color: var(--color-background);
}
.sub-page .text {
  margin-top: 100px;
}
.sub-page .text + .text {
  margin-top: 50px;
}
.sub-page .text strong {
  display: block;
}

@media (max-width: 1024px) {
  h2 {
    margin-bottom: 0;
    font-size: 1.8rem;
  }
  h2 strong {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    line-height: 1.4;
  }
  h3 {
    padding: 2.4rem 0;
    font-size: 2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  .inner {
    padding: 0 1.6rem;
  }
  .wrap:has(.main-page) header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .wrap:has(.main-page) header .logo .text {
    display: none;
  }
  header {
    min-height: 6rem;
  }
  header .btn-move {
    width: 4rem;
    height: 4rem;
    padding: 0.2rem;
    right: 1.6rem;
    top: 1rem;
  }
  header .btn-move span {
    display: none;
  }
  header .header-fixed {
    min-height: 6rem;
    width: calc(100vw - 3.2rem);
  }
  header nav {
    display: none;
    flex-direction: column;
    width: 20rem;
    padding: 2rem;
    top: 6rem;
    left: -2rem;
    transform: unset;
    background-color: rgba(244, 244, 244, 0.8);
  }
  header nav a {
    font-size: 1.6rem;
  }
  header nav a:not(:first-child) {
    margin: 1.4rem 0 0;
  }
  header nav.active {
    display: flex;
  }
  header .mobile-menu-btn {
    display: block;
  }
  header .mobile-menu-btn div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    border: 1px solid var(--color-pink);
  }
  header .mobile-menu-btn div::after, header .mobile-menu-btn div::before {
    content: "";
    display: block;
    position: relative;
  }
  header .mobile-menu-btn div::after, header .mobile-menu-btn div::before, header .mobile-menu-btn div span {
    width: 2rem;
    height: 2px;
    border-radius: 1rem;
    background-color: var(--color-pink);
    transition: all 0.3s;
  }
  header .mobile-menu-btn.active div span {
    display: none;
  }
  header .mobile-menu-btn.active div::after, header .mobile-menu-btn.active div::before {
    width: 2.6rem;
  }
  header .mobile-menu-btn.active div::after {
    transform: rotate(45deg);
    top: -2px;
  }
  header .mobile-menu-btn.active div::before {
    transform: rotate(315deg);
    top: 3px;
  }
  .main-page section:not(:first-child) {
    margin-top: 2rem;
    padding: 2.6rem 2rem;
    border-radius: var(--border-radius);
    background-color: var(--color-white);
  }
  .main-page .boxs:nth-child(even) {
    flex-direction: column-reverse;
  }
  .main-page .boxs:nth-child(odd) {
    flex-direction: column;
  }
  .main-page .boxs .chip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-page .box.img-wrap {
    flex: 0 0 auto;
    height: 16rem;
    background-size: 8rem auto !important;
  }
  .main-page .box.img-wrap img {
    height: 100%;
    min-height: auto;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .main-page .box.text-wrap {
    padding: 0;
  }
  .main-page ul.dash li::before {
    top: 1rem;
  }
  .main-page .hero {
    margin-bottom: 6rem;
  }
  .main-page .hero .boxs::before,
.main-page .hero .box.right::after, .main-page .hero .box.right::before,
.main-page .hero .box.left::after, .main-page .hero .box.left::before,
.main-page .hero .circle-wrap::after, .main-page .hero .circle-wrap::before,
.main-page .hero .title-sub {
    display: none;
  }
  .main-page .hero .boxs {
    flex-direction: column-reverse;
  }
  .main-page .hero .box {
    min-height: auto;
    padding: 2rem;
  }
  .main-page .hero .box.right {
    padding: 2rem;
  }
  .main-page .hero .box.right .rolling-list {
    height: 27rem;
    width: 100%;
    padding: 0;
  }
  .main-page .hero .box.left {
    width: calc(100% - 16rem);
    min-height: 14rem;
  }
  .main-page .hero .circle-wrap {
    left: auto;
    right: 0;
    bottom: 0;
    transform: none;
  }
  .main-page .section-work .work-box {
    width: 100%;
    margin: 2rem 0 0;
    padding: 2rem;
    background-color: var(--color-background);
  }
  .main-page .section-work .boxs {
    gap: 0;
    padding-top: 5rem;
  }
  .main-page .section-work .scroll {
    max-height: 50rem;
    padding: 4rem 0 0;
  }
  .main-page .section-work .button-wrap {
    margin-top: 2rem;
  }
  .main-page .section-certificate ul {
    width: 100%;
  }
  .sub-page {
    margin-top: 3rem;
  }
  .sub-page h2 {
    font-size: 2.4rem;
  }
  .sub-page h3 {
    padding-top: 4rem;
  }
  .sub-page .text {
    margin-top: 4rem;
  }
  .sub-page .box {
    flex-basis: 100% !important;
    height: 26rem;
  }
}