
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: block;
    src: local('Pretendard Bold'), url('../fonts/Pretendard-Bold.woff2') format('woff2');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: block;
    src: local('Pretendard SemiBold'), url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: block;
    src: local('Pretendard Medium'), url('../fonts/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: block;
    src: local('Pretendard Regular'), url('../fonts/Pretendard-Regular.woff2') format('woff2');
}

:root {
    --color-white: #ffffff;
    --color-background: #f4f4f4;
    --color-eee: #eeeeee;
    --color-333: #333333;
    --color-black: #000000;
    --color-signature: #ecf95a;
    --color-pink: #f9aaaa;
    --color-mint: #32d3ae;
    --border-radius: 18px;
    --font-family: 400 16px/1.8  "Pretendard", sans-serif;
}


/* reset */
*, ::before, ::after {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: keep-all;
}
html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	font: var(--font-family);
	color: #333;
	-webkit-text-size-adjust: none;
}
img, svg {
    display: block;
	max-width: 100%;
    border: 0;
}
button {
	border: none;
    outline: none;
	background-color: transparent;
    font: inherit;
	cursor: pointer;
}
ul,li,ol{
    list-style-type: none;
}
em,a {
    text-decoration: none;
    font: var(--font-family);
    color: inherit;
    word-break: keep-all;
	cursor:pointer;
}
:focus {
    outline: none;
}
strong{
    font-weight: 700;
}
.hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: polygon(0 0, 0 0, 0 0);
}

@media (max-width: 1024px){
    html {
        font-size : 62.5%;
    }
    body {
        font-size: 1.4rem;
        line-height: 1.6;
    }
}